.card {
    height: 240px;
    width: 228px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
    border-radius: 24px 0 24px 24px;
    overflow: hidden;
}

.image-crop {
    height: 168px;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.image {
    height: 230px;
    width: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
    top: -31px;
    left: -1px;
}

.rotate-deg0 {
    transform: rotate(0);
}

.rotate-deg90 {
    transform: rotate(90deg);
}

.rotate-deg180 {
    transform: rotate(180deg);
}

.rotate-deg270 {
    transform: rotate(270deg);
}

.controls {
    height: calc(240px - 168px);
    display: flex;
}

.info {
    width: 50%;
    padding: 16px;
}

.title {
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #263238;
    font-weight: 600;
    margin-bottom: 4px;
}

.description {
    letter-spacing: 0.005em;
    color: #263238;
    opacity: 0.54;
    font-size: 12px;
    line-height: 20px;
}

.rotate {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate-icon {
    cursor: pointer;
}